* {
    box-sizing: border-box;
    margin: 0;
}

body,
html {
    height: 100%;
}

section {
    height: 100%;
    display: grid;
    place-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #f30a1d;
}

img {
  width: 300px;
  height: 300px;
}

img {
    transform: scale(1.5) rotate(45deg) ;
  /* transform: scale(1.5); */
    /* transform: rotate(45deg); */
    /* transform: translate(200px, 200px); */
    /* transform: translate(50%, 50%); */
    /* transform: skew(15deg, 15deg); */
}
